body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#eef4ff;
}

.container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:240px;
    background:#0b4f9c;
    color:white;
    padding:20px;
    display:flex;
    flex-direction:column;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar button{
    margin:10px 0;
    padding:12px;
    border:none;
    border-radius:8px;
    background:white;
    color:#0b4f9c;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.sidebar button:hover{
    transform:scale(1.03);
}

.main{
    flex:1;
    padding:30px;
}

h1{
    color:#0b4f9c;
}

.section{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 3px 12px rgba(0,0,0,0.1);
    margin-top:20px;
}

input{
    width:95%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:1px solid #ccc;
}

.main button{
    background:#0b4f9c;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    margin-top:10px;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

th{
    background:#0b4f9c;
    color:white;
}

th,td{
    padding:12px;
    border-bottom:1px solid #ddd;
}
.medicineRow{
    display:flex;
    gap:10px;
    margin-bottom:10px;
}

.medicineRow input{
    width:30%;
}